.header{
  width: 96vw;
  background: $color-white;
  height: 100px;
  margin: 2rem auto 0 auto;
  border-top: 1px solid $color-blue;
  border-bottom: 1px solid $color-blue;

  img{
    float: left;
    height: 100%;
  }


  h1{
    @include font-size(2.4);
    color: $color-blue;
    text-transform: capitalize;
  }
}
